body, h1, h2, p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #8e1212;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    background-color: #8e1212;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li :hover {
    font-weight: bolder;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    margin: 20px;
    flex-grow: 1;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #8e1212;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#csvDataContainer {
    max-height: 500px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6e6e6;
}

#canvasShapeUFO {
    border: 2px solid black;
}

#chart1 {
    border: 1px solid black;
}

#chart2 {
    border: 1px solid black;
}

.split-container {
    display: flex; 
}

.split {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    background-color: #f2f2f2;
}

.right {
    background-color: #e6e6e6;
}

/* Style the select element */
.custom-select {
    padding: 10px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    border: 2px solid #666;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style the select element's options */
.custom-select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}
